
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hike Index</title>
</head>
<body style="color:rgb(24,70,24);">
    <h1>Welcome to Hikes Around The World!</h1>
    <ul>
        <% for (let i = 0; i < hikes.length; i++) { %>
            <li style="margin-bottom: 20px;">
                <a href="/hikes/<%= hikes[i]._id %>">
                    <%= hikes[i].Name %>
                </a> 
            </li>
            <a href="/hikes/<%= hikes[i]._id %>/edit">Edit</a>
       <% } %>
    </ul>
</body>
</html>