<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a Hike</title>
</head>
<body style = text-align:center;color:rgb(117,27,42);>
        <h1>ADD A HIKE!</h1>
</body>
</html>