<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
</head>
<body>
<img style=height:80%;width:80%; src="https://i.pinimg.com/originals/9e/1f/bd/9e1fbda2749cdf787e6ff568bda92bf4.png" alt="Page not found">
</body>
</html>