<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hikes Around The WORLD</title>
</head>
<body style = text-align:center;color:purple;>
    <h1>Welcome to Hikes Around The World!</h1>
    <img style= max-width:100%;max-height:700px; src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F28%2F2019%2F06%2Ftrolltunga-norway-fjord-HIKING0217.jpg" alt="picture"> 
</body>
</html>